
#u11829 {
  position:absolute;
  left:29px;
  top:10px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u11830 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u11826_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:41px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u11826_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:41px;
  background:inherit;
  background-color:rgba(0, 136, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u11831 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:41px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u11832 {
  position:absolute;
  left:2px;
  top:12px;
  width:198px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u11833 {
  position:absolute;
  left:29px;
  top:10px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u11834 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u11826_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:41px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u11826_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:41px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u11835 {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:41px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u11836 {
  position:absolute;
  left:2px;
  top:12px;
  width:260px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u11837 {
  position:absolute;
  left:29px;
  top:10px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u11838 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u11839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u11839 {
  position:absolute;
  left:14px;
  top:571px;
  width:201px;
  height:42px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u11840 {
  position:absolute;
  left:2px;
  top:13px;
  width:197px;
  visibility:hidden;
  word-wrap:break-word;
}
