
#u13932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
}
#u13932 {
  position:absolute;
  left:286px;
  top:30px;
  width:143px;
  height:30px;
  color:#666666;
}
#u13933 {
  position:absolute;
  left:2px;
  top:6px;
  width:139px;
  word-wrap:break-word;
}
#u13934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
}
#u13934 {
  position:absolute;
  left:429px;
  top:30px;
  width:143px;
  height:30px;
  color:#666666;
}
#u13935 {
  position:absolute;
  left:2px;
  top:6px;
  width:139px;
  word-wrap:break-word;
}
#u13936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
}
#u13936 {
  position:absolute;
  left:572px;
  top:30px;
  width:143px;
  height:30px;
  color:#666666;
}
#u13937 {
  position:absolute;
  left:2px;
  top:6px;
  width:139px;
  word-wrap:break-word;
}
#u13938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
}
#u13938 {
  position:absolute;
  left:715px;
  top:30px;
  width:143px;
  height:30px;
  color:#666666;
}
#u13939 {
  position:absolute;
  left:2px;
  top:6px;
  width:139px;
  word-wrap:break-word;
}
#u13940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
}
#u13940 {
  position:absolute;
  left:858px;
  top:30px;
  width:144px;
  height:30px;
  color:#428BCA;
}
#u13941 {
  position:absolute;
  left:2px;
  top:6px;
  width:140px;
  word-wrap:break-word;
}
#u13942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
}
#u13942 {
  position:absolute;
  left:0px;
  top:60px;
  width:143px;
  height:30px;
  color:#666666;
}
#u13943 {
  position:absolute;
  left:2px;
  top:7px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
}
#u13944 {
  position:absolute;
  left:143px;
  top:60px;
  width:143px;
  height:30px;
  color:#666666;
}
#u13945 {
  position:absolute;
  left:2px;
  top:7px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
}
#u13946 {
  position:absolute;
  left:286px;
  top:60px;
  width:143px;
  height:30px;
  color:#666666;
}
#u13947 {
  position:absolute;
  left:2px;
  top:7px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
}
#u13948 {
  position:absolute;
  left:429px;
  top:60px;
  width:143px;
  height:30px;
  color:#666666;
}
#u13949 {
  position:absolute;
  left:2px;
  top:7px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
}
#u13950 {
  position:absolute;
  left:572px;
  top:60px;
  width:143px;
  height:30px;
  color:#666666;
}
#u13951 {
  position:absolute;
  left:2px;
  top:7px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
}
#u13952 {
  position:absolute;
  left:715px;
  top:60px;
  width:143px;
  height:30px;
  color:#666666;
}
#u13953 {
  position:absolute;
  left:2px;
  top:7px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
}
#u13954 {
  position:absolute;
  left:858px;
  top:60px;
  width:144px;
  height:30px;
  color:#428BCA;
}
#u13955 {
  position:absolute;
  left:2px;
  top:6px;
  width:140px;
  word-wrap:break-word;
}
#u13956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u13956 {
  position:absolute;
  left:14px;
  top:147px;
  width:151px;
  height:19px;
  font-size:13px;
  color:#666666;
}
#u13957 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u13958 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:405;
  font-style:normal;
  color:#00558E;
}
#u13959 {
  position:absolute;
  left:982px;
  top:139px;
  width:34px;
  height:34px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:405;
  font-style:normal;
  color:#00558E;
}
#u13960 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:405;
  font-style:normal;
  color:#00558E;
}
#u13961 {
  position:absolute;
  left:916px;
  top:139px;
  width:34px;
  height:34px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:405;
  font-style:normal;
  color:#00558E;
}
#u13962 {
  position:absolute;
  left:2px;
  top:8px;
  width:30px;
  word-wrap:break-word;
}
#u13963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:405;
  font-style:normal;
  color:#00558E;
}
#u13963 {
  position:absolute;
  left:949px;
  top:139px;
  width:34px;
  height:34px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:405;
  font-style:normal;
  color:#00558E;
}
#u13964 {
  position:absolute;
  left:2px;
  top:8px;
  width:30px;
  word-wrap:break-word;
}
#u13965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u13965 {
  position:absolute;
  left:817px;
  top:139px;
  width:34px;
  height:34px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u13966 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u13967 {
  position:absolute;
  left:830px;
  top:152px;
  width:8px;
  height:8px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u13968 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:9px;
}
#u13969 {
  position:absolute;
  left:995px;
  top:152px;
  width:8px;
  height:9px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:405;
  font-style:normal;
}
#u13970 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13971 {
  position:absolute;
  left:883px;
  top:139px;
  width:34px;
  height:34px;
  overflow:hidden;
}
#u13971_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u13971_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:405;
  font-style:normal;
  color:#00558E;
}
#u13972 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:405;
  font-style:normal;
  color:#00558E;
}
#u13973 {
  position:absolute;
  left:2px;
  top:8px;
  width:30px;
  word-wrap:break-word;
}
#u13971_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u13971_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:405;
  font-style:normal;
  color:#00558E;
}
#u13974 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:405;
  font-style:normal;
  color:#00558E;
}
#u13975 {
  position:absolute;
  left:2px;
  top:8px;
  width:30px;
  word-wrap:break-word;
}
#u13971_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u13971_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:405;
  font-style:normal;
  color:#CCCCCC;
}
#u13976 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:405;
  font-style:normal;
  color:#CCCCCC;
}
#u13977 {
  position:absolute;
  left:2px;
  top:8px;
  width:30px;
  word-wrap:break-word;
}
#u13978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#00558E;
}
#u13978 {
  position:absolute;
  left:884px;
  top:139px;
  width:34px;
  height:34px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#00558E;
}
#u13979 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13980 {
  position:absolute;
  left:850px;
  top:139px;
  width:34px;
  height:34px;
  overflow:hidden;
}
#u13980_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u13980_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:405;
  font-style:normal;
  color:#999999;
}
#u13981 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:405;
  font-style:normal;
  color:#999999;
}
#u13982 {
  position:absolute;
  left:2px;
  top:8px;
  width:30px;
  word-wrap:break-word;
}
#u13980_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u13980_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:405;
  font-style:normal;
  color:#00558E;
}
#u13983 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:405;
  font-style:normal;
  color:#00558E;
}
#u13984 {
  position:absolute;
  left:2px;
  top:8px;
  width:30px;
  word-wrap:break-word;
}
#u13980_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u13980_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:405;
  font-style:normal;
  color:#00558E;
}
#u13985 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:405;
  font-style:normal;
  color:#00558E;
}
#u13986 {
  position:absolute;
  left:2px;
  top:8px;
  width:30px;
  word-wrap:break-word;
}
#u13987 {
  position:absolute;
  left:926px;
  top:10px;
  width:92px;
  height:34px;
  overflow:hidden;
}
#u13987_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:34px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u13987_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:34px;
  background:-webkit-linear-gradient(270deg, rgba(90, 90, 90, 1) 0%, rgba(90, 90, 90, 1) 0%, rgba(34, 34, 34, 1) 100%, rgba(34, 34, 34, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(90, 90, 90, 1) 0%, rgba(90, 90, 90, 1) 0%, rgba(34, 34, 34, 1) 100%, rgba(34, 34, 34, 1) 100%);
  background:linear-gradient(180deg, rgba(90, 90, 90, 1) 0%, rgba(90, 90, 90, 1) 0%, rgba(34, 34, 34, 1) 100%, rgba(34, 34, 34, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(241, 241, 241, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u13988 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:34px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u13989 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  word-wrap:break-word;
}
#u13990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:47px;
}
#u13990 {
  position:absolute;
  left:184px;
  top:129px;
  width:282px;
  height:47px;
}
#u13991 {
  position:absolute;
  left:2px;
  top:16px;
  width:278px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13987_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:34px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u13987_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:34px;
  background:inherit;
  background-color:rgba(13, 13, 13, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(241, 241, 241, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u13992 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:34px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u13993 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  word-wrap:break-word;
}
#u13987_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:34px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u13987_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:34px;
  background:inherit;
  background-color:rgba(34, 34, 34, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(241, 241, 241, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u13994 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:34px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u13995 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  word-wrap:break-word;
}
#u13996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u13996 {
  position:absolute;
  left:926px;
  top:10px;
  width:92px;
  height:34px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u13997 {
  position:absolute;
  left:2px;
  top:9px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13910_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1030px;
  height:498px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u13910_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1030px;
  height:549px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13998 {
  position:absolute;
  left:0px;
  top:0px;
  width:1030px;
  height:549px;
}
#u13999 {
  position:absolute;
  left:2px;
  top:266px;
  width:1026px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u14000 {
  position:absolute;
  left:38px;
  top:20px;
  width:307px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u14001 {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  white-space:nowrap;
}
#u14002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#428BCA;
}
#u14002 {
  position:absolute;
  left:240px;
  top:16px;
  width:81px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#428BCA;
}
#u14003 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u14004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#428BCA;
}
#u14004 {
  position:absolute;
  left:348px;
  top:16px;
  width:81px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#428BCA;
}
#u14005 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u13910_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:1030px;
  height:498px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u13910_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1030px;
  height:550px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14006 {
  position:absolute;
  left:0px;
  top:0px;
  width:1030px;
  height:550px;
}
#u14007 {
  position:absolute;
  left:2px;
  top:267px;
  width:1026px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14008 {
  position:absolute;
  left:33px;
  top:21px;
  width:63px;
  height:20px;
}
#u14009 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u14010 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u14011 {
  position:absolute;
  left:129px;
  top:12px;
  width:254px;
  height:34px;
  color:#CCCCCC;
  text-align:left;
}
#u14012 {
  position:absolute;
  left:2px;
  top:8px;
  width:250px;
  word-wrap:break-word;
}
#u14013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:6px;
}
#u14013 {
  position:absolute;
  left:362px;
  top:26px;
  width:10px;
  height:6px;
  color:#CCCCCC;
  text-align:left;
}
#u14014 {
  position:absolute;
  left:2px;
  top:-5px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14015 {
  position:absolute;
  left:532px;
  top:21px;
  width:63px;
  height:20px;
}
#u14016 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u14017 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u14018 {
  position:absolute;
  left:628px;
  top:12px;
  width:254px;
  height:34px;
  color:#CCCCCC;
  text-align:left;
}
#u14019 {
  position:absolute;
  left:2px;
  top:8px;
  width:250px;
  word-wrap:break-word;
}
#u14020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:6px;
}
#u14020 {
  position:absolute;
  left:861px;
  top:26px;
  width:10px;
  height:6px;
  color:#CCCCCC;
  text-align:left;
}
#u14021 {
  position:absolute;
  left:2px;
  top:-5px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14022 {
  position:absolute;
  left:33px;
  top:65px;
  width:63px;
  height:20px;
}
#u14023 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u14024 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u14025 {
  position:absolute;
  left:129px;
  top:56px;
  width:254px;
  height:34px;
  color:#CCCCCC;
  text-align:left;
}
#u14026 {
  position:absolute;
  left:2px;
  top:8px;
  width:250px;
  word-wrap:break-word;
}
#u14027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:6px;
}
#u14027 {
  position:absolute;
  left:362px;
  top:70px;
  width:10px;
  height:6px;
  color:#CCCCCC;
  text-align:left;
}
#u14028 {
  position:absolute;
  left:2px;
  top:-5px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14029 {
  position:absolute;
  left:33px;
  top:153px;
  width:144px;
  height:34px;
  overflow:hidden;
}
#u14029_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:34px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u14029_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:34px;
  background:inherit;
  background-color:rgba(72, 140, 108, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u14030 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:34px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u14031 {
  position:absolute;
  left:2px;
  top:9px;
  width:140px;
  word-wrap:break-word;
}
#u14029_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:34px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u14029_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:34px;
  background:inherit;
  background-color:rgba(69, 133, 103, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u14032 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:34px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u14033 {
  position:absolute;
  left:2px;
  top:9px;
  width:140px;
  word-wrap:break-word;
}
#u14034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
}
#u14034 {
  position:absolute;
  left:33px;
  top:153px;
  width:144px;
  height:34px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
}
#u14035 {
  position:absolute;
  left:2px;
  top:9px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14036 {
  position:absolute;
  left:187px;
  top:153px;
  width:144px;
  height:34px;
  overflow:hidden;
}
#u14036_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:34px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u14036_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u14037 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:34px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u14038 {
  position:absolute;
  left:2px;
  top:9px;
  width:140px;
  word-wrap:break-word;
}
#u14036_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:34px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u14036_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:34px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u14039 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:34px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u14040 {
  position:absolute;
  left:2px;
  top:9px;
  width:140px;
  word-wrap:break-word;
}
#u14041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
}
#u14041 {
  position:absolute;
  left:187px;
  top:153px;
  width:144px;
  height:34px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
}
#u14042 {
  position:absolute;
  left:2px;
  top:9px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14043 {
  position:absolute;
  left:532px;
  top:65px;
  width:63px;
  height:20px;
}
#u14044 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u14045 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u14046 {
  position:absolute;
  left:628px;
  top:56px;
  width:254px;
  height:34px;
  color:#CCCCCC;
  text-align:left;
}
#u14047 {
  position:absolute;
  left:2px;
  top:8px;
  width:250px;
  word-wrap:break-word;
}
#u14048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14048 {
  position:absolute;
  left:33px;
  top:109px;
  width:35px;
  height:20px;
}
#u14049 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u14050 {
  position:absolute;
  left:129px;
  top:109px;
  width:100px;
  height:19px;
}
#u14051 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u14050_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u14052 {
  position:absolute;
  left:283px;
  top:109px;
  width:100px;
  height:19px;
}
#u14053 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u14052_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u13910_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:1030px;
  height:498px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u13910_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1029px;
  height:549px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14054 {
  position:absolute;
  left:0px;
  top:0px;
  width:1029px;
  height:549px;
}
#u14055 {
  position:absolute;
  left:2px;
  top:266px;
  width:1025px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14056 {
  position:absolute;
  left:33px;
  top:21px;
  width:63px;
  height:20px;
}
#u14057 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u14058 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u14059 {
  position:absolute;
  left:129px;
  top:12px;
  width:254px;
  height:34px;
  color:#CCCCCC;
  text-align:left;
}
#u14060 {
  position:absolute;
  left:2px;
  top:8px;
  width:250px;
  word-wrap:break-word;
}
#u14061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:6px;
}
#u14061 {
  position:absolute;
  left:362px;
  top:26px;
  width:10px;
  height:6px;
  color:#CCCCCC;
  text-align:left;
}
#u14062 {
  position:absolute;
  left:2px;
  top:-5px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14063 {
  position:absolute;
  left:532px;
  top:21px;
  width:63px;
  height:20px;
}
#u14064 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u14065 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u14066 {
  position:absolute;
  left:628px;
  top:12px;
  width:254px;
  height:34px;
  color:#CCCCCC;
  text-align:left;
}
#u14067 {
  position:absolute;
  left:2px;
  top:8px;
  width:250px;
  word-wrap:break-word;
}
#u14068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:6px;
}
#u14068 {
  position:absolute;
  left:861px;
  top:26px;
  width:10px;
  height:6px;
  color:#CCCCCC;
  text-align:left;
}
#u14069 {
  position:absolute;
  left:2px;
  top:-5px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14070 {
  position:absolute;
  left:33px;
  top:65px;
  width:63px;
  height:20px;
}
#u14071 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u14072 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u14073 {
  position:absolute;
  left:129px;
  top:56px;
  width:254px;
  height:34px;
  color:#CCCCCC;
  text-align:left;
}
#u14074 {
  position:absolute;
  left:2px;
  top:8px;
  width:250px;
  word-wrap:break-word;
}
#u14075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:6px;
}
#u14075 {
  position:absolute;
  left:362px;
  top:70px;
  width:10px;
  height:6px;
  color:#CCCCCC;
  text-align:left;
}
#u14076 {
  position:absolute;
  left:2px;
  top:-5px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14077 {
  position:absolute;
  left:129px;
  top:100px;
  width:68px;
  height:30px;
}
#u14078 {
  position:absolute;
  left:2px;
  top:6px;
  width:64px;
  word-wrap:break-word;
}
#u14079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u14079 {
  position:absolute;
  left:207px;
  top:107px;
  width:99px;
  height:20px;
  color:#999999;
}
#u14080 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u14081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14081 {
  position:absolute;
  left:33px;
  top:107px;
  width:63px;
  height:20px;
}
#u14082 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u14083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u14083 {
  position:absolute;
  left:100px;
  top:108px;
  width:15px;
  height:15px;
}
#u14084 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14085 {
  position:absolute;
  left:107px;
  top:112px;
  width:408px;
  height:62px;
  overflow:hidden;
  visibility:hidden;
}
#u14085_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  height:62px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u14085_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:151px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.568627450980392);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14086 {
  position:absolute;
  left:-8px;
  top:0px;
  width:143px;
  height:151px;
}
#u14087 {
  position:absolute;
  left:2px;
  top:68px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.549019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14088 {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:60px;
}
#u14089 {
  position:absolute;
  left:2px;
  top:22px;
  width:399px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14090 {
  position:absolute;
  left:2px;
  top:2px;
  width:401px;
  height:58px;
}
#u14091 {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  word-wrap:break-word;
}
#u14092 {
  position:absolute;
  left:33px;
  top:150px;
  width:144px;
  height:34px;
  overflow:hidden;
}
#u14092_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:34px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u14092_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:34px;
  background:inherit;
  background-color:rgba(72, 140, 108, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u14093 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:34px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u14094 {
  position:absolute;
  left:2px;
  top:9px;
  width:140px;
  word-wrap:break-word;
}
#u14092_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:34px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u14092_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:34px;
  background:inherit;
  background-color:rgba(69, 133, 103, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u14095 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:34px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u14096 {
  position:absolute;
  left:2px;
  top:9px;
  width:140px;
  word-wrap:break-word;
}
#u14097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
}
#u14097 {
  position:absolute;
  left:33px;
  top:150px;
  width:144px;
  height:34px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
}
#u14098 {
  position:absolute;
  left:2px;
  top:9px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14099 {
  position:absolute;
  left:187px;
  top:150px;
  width:144px;
  height:34px;
  overflow:hidden;
}
#u14099_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:34px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u14099_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u14100 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:34px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u14101 {
  position:absolute;
  left:2px;
  top:9px;
  width:140px;
  word-wrap:break-word;
}
#u14099_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:34px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u14099_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:34px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u14102 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:34px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u14103 {
  position:absolute;
  left:2px;
  top:9px;
  width:140px;
  word-wrap:break-word;
}
#u14104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
}
#u14104 {
  position:absolute;
  left:187px;
  top:150px;
  width:144px;
  height:34px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
}
#u14105 {
  position:absolute;
  left:2px;
  top:9px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14106 {
  position:absolute;
  left:131px;
  top:19px;
  width:75px;
  height:20px;
}
#u14107 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u14108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14108 {
  position:absolute;
  left:650px;
  top:19px;
  width:29px;
  height:16px;
}
#u14109 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u14110 {
  position:absolute;
  left:17px;
  top:629px;
  width:92px;
  height:34px;
  overflow:hidden;
}
#u14110_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:34px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u14110_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:34px;
  background:-webkit-linear-gradient(270deg, rgba(252, 252, 252, 1) 0%, rgba(252, 252, 252, 1) 0%, rgba(231, 231, 231, 1) 100%, rgba(231, 231, 231, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(252, 252, 252, 1) 0%, rgba(252, 252, 252, 1) 0%, rgba(231, 231, 231, 1) 100%, rgba(231, 231, 231, 1) 100%);
  background:linear-gradient(180deg, rgba(252, 252, 252, 1) 0%, rgba(252, 252, 252, 1) 0%, rgba(231, 231, 231, 1) 100%, rgba(231, 231, 231, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(241, 241, 241, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u14111 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:34px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u14112 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  word-wrap:break-word;
}
#u14110_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:34px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u14110_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:34px;
  background:-webkit-linear-gradient(270deg, rgba(239, 239, 239, 1) 0%, rgba(239, 239, 239, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(239, 239, 239, 1) 0%, rgba(239, 239, 239, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(239, 239, 239, 1) 0%, rgba(239, 239, 239, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(241, 241, 241, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u14113 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:34px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u14114 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  word-wrap:break-word;
}
#u14110_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:34px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u14110_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:34px;
  background:-webkit-linear-gradient(270deg, rgba(239, 239, 239, 1) 0%, rgba(239, 239, 239, 1) 0%, rgba(230, 230, 230, 1) 47%, rgba(230, 230, 230, 1) 100%, rgba(230, 230, 230, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(239, 239, 239, 1) 0%, rgba(239, 239, 239, 1) 0%, rgba(230, 230, 230, 1) 47%, rgba(230, 230, 230, 1) 100%, rgba(230, 230, 230, 1) 100%);
  background:linear-gradient(180deg, rgba(239, 239, 239, 1) 0%, rgba(239, 239, 239, 1) 0%, rgba(230, 230, 230, 1) 47%, rgba(230, 230, 230, 1) 100%, rgba(230, 230, 230, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(241, 241, 241, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u14115 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:34px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u14116 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  word-wrap:break-word;
}
#u14117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u14117 {
  position:absolute;
  left:17px;
  top:629px;
  width:92px;
  height:34px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u14118 {
  position:absolute;
  left:2px;
  top:9px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14119 {
  position:absolute;
  left:132px;
  top:58px;
  width:40px;
  height:20px;
}
#u14120 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u14121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14121 {
  position:absolute;
  left:31px;
  top:98px;
  width:43px;
  height:20px;
}
#u14122 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u14123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14123 {
  position:absolute;
  left:132px;
  top:98px;
  width:29px;
  height:20px;
}
#u14124 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u14125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14125 {
  position:absolute;
  left:554px;
  top:98px;
  width:57px;
  height:20px;
}
#u14126 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u14127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14127 {
  position:absolute;
  left:655px;
  top:98px;
  width:116px;
  height:20px;
}
#u14128 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u14129 {
  position:absolute;
  left:232px;
  top:135px;
  width:1108px;
  height:711px;
  overflow:hidden;
}
#u14129_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1108px;
  height:711px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u14129_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1113px;
  height:707px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14130 {
  position:absolute;
  left:0px;
  top:0px;
  width:1113px;
  height:707px;
}
#u14131 {
  position:absolute;
  left:2px;
  top:346px;
  width:1109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14132 {
  position:absolute;
  left:406px;
  top:130px;
  width:267px;
  height:20px;
}
#u14133 {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  white-space:nowrap;
}
#u14134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3E77AB;
}
#u14134 {
  position:absolute;
  left:473px;
  top:160px;
  width:95px;
  height:20px;
  color:#3E77AB;
}
#u14135 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
